#card-wrapper {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pkmn-card {
  display: flex;
  border: 5px solid;
  border-radius: 5px;
  flex: row;
  background-color: #bfbfbf;
  /* width: 15em; */
  width: 18%;
  min-width: 250px;
}

.card-left {
  border: 1px solid;
  /* background-color: cadetblue; */
  /* background-color: #bfbfbf; */
  width: 50%;
}

.card-right {
  border: 1px solid;
  /* background-color: yellow; */
  width: 50%;
}

.text {
  margin: 0;
  text-align: center;
}

.maintext {
  font-weight: bold;
  font-size: 1.4em;
}

.subtext {
  font-size: 0.9em;
  /* text-align: center; */
}

tr {
  text-align: center;
  /* width: 40%; */
}

td {
  /* width: 40%; */
}

col {
  width: 45%;
}

table {
  border-collapse: separate;
  border-spacing: 0.5em 0.5em;

  /* margin: 0; */
}

/* .types {
  border-spacing: 0;
  background-color: black;
} */

.types {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: center; */
}

.types div {
  background-color: black;
  width: 45%;
  color: white;
  text-align: center;
}
