#card-wrapper {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pkmn-card {
  display: flex;
  border: 5px solid;
  border-radius: 5px;
  flex: row;
  background-color: #bfbfbf;
  width: 18%;
  min-width: 250px;
}

.card-left {
  border: 1px solid;
  width: 50%;
}

.card-right {
  border: 1px solid;
  width: 50%;
}

.text {
  margin: 0;
  text-align: center;
}

.maintext {
  font-weight: bold;
  font-size: 1.4em;
}

.subtext {
  font-size: 0.9em;
}

tr {
  text-align: center;
}

col {
  width: 45%;
}

table {
  border-collapse: separate;
  border-spacing: 0.5em 0.5em;
}

.types {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.types div {
  background-color: black;
  width: 45%;
  color: white;
  text-align: center;
}
